extends layout.pug

block content
  article
    h2 Correctness
    p TBD.

  article
    h2 Property testing
    p TBD.

  article
    h2 Numerical Robustness
    p TBD.

  article
    h2 Random Polygon Generation
    p TBD.
